node_modules
dist
build
.nuxt
.nitro
.output
.cache
.data

.env
.env.*

# Demo deploy artifacts
demo/node_modules
demo/.nuxt
demo/.output
demo/dist

logs
*.log

.DS_Store
.idea
.vscode

coverage
.nyc_output

uploads
/tmp
